<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Food Diary Page</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $("#deleteItem").click(function () {
          $("#action").val("delete");
          $("#frmFoodDiary").submit();
        });
      });
    </script>
  </head>
  <body>
    <h1>My Food Diary</h1>
    <form action="" method="POST" id="frmFoodDiary">
      <div th:if="${foodDiary != null}">
	      <input type="hidden" value="" id="action" name="action"/>
	      Food: <input type="text" th:field="${foodDiary.food}"/><br/>
	      Meal Type: <input type="text" th:field="${foodDiary.mealType}"/><br/>
	      Time of Day: <input type="text" th:field="${foodDiary.timeOfDay}"/><br/>
	      Cost of Meal: <input type="text" th:field="${foodDiary.cost}"/><br/>
	      <br/>
	      <input type="submit" value="Add Diary Item"/> 
	      <input type="button" id="deleteItem" value="Delete Item"/>
      </div>
      <div th:if="${foodDiaries != null}">
        <div th:each="foodDiary : ${foodDiaries}" th:object="${foodDiary}">
          Food: <span th:text="*{food}"></span><br/>
          Meal Type: <span th:text="*{mealType}"></span><br/>
          Time of Day: <span th:text="*{timeOfDay}"></span><br/>
          Cost of Meal: <span th:text="*{cost}"></span><br/><br/>
        </div>
      </div>
    </form>
  </body>
</html>